# Sanal ortam
.venv/
venv/

# Derleme dosyaları
__pycache__/
*.pyc
*.pyo

# Log ve veritabanı
*.log
*.db

# IDE dosyaları
.vscode/
.idea/

# Paket çıktıları
build/
dist/
*.egg-info/

# Konfigürasyon dosyaları
.env
config_local.py
